# Убрать папки:
/venv/Lib
.vs/
.idea/

# Убрать типы файлов:
*.pyc
*.db

# Убрать конкретные файлы:
/templates/static/tab.js
/templates/test.html
local.config
/PyNetHomeInvaderAlerter.7z
/test.py
.DS_Store