flask_host:0.0.0.0
alerter_host:172.27.0.165
alerter_port:514
rdbms:postgresql
db_connection_string:dbname='alerter_destination' user='alerter' host='172.27.0.165' password='alerter' connect_timeout=1
flask_use_reloader:


flask_host:0.0.0.0
alerter_host:172.27.0.165
alerter_port:514
rdbms:sqlite
db_connection_string:destination.db
flask_use_reloader: