body {
  display: grid;
  grid-template-areas: "header" "article" "footer";
  grid-template-rows: 5% 66% 29%;

  /* grid-gap: 0px; /* Зазор между блоками */
  height: 100vh;
  margin: 0;
  background: #000;
}

header,
footer,
article {
  background: #000;
}

#Header {
  grid-area: header;
}

#Article {
  grid-area: article;
  overflow-y: scroll;
  overflow-x: hidden;
}

#Footer {
  grid-area: footer;

  /* overflow: scroll; */

  /* overflow-x: hidden; */
}

table {
  text-align: center;
  border-collapse: collapse; /* Схлопываем двойные границы вокруг ячеек. */
  margin: 0 auto; /* Выравнивание по центру. */
  width: 100%;
}

th {
  background-color: #4f4f4f;
  border-color: #aaa;
  border-style: solid;
  border-width: 1px;
  color: #fff;
  font-size: 12px;
  font-weight: bold;
  overflow: hidden;
  text-align: center;

  /* padding: 10px 5px; */
  word-break: normal;
}

td {
  background-color: black;
  border-color: #aaa;
  border-style: solid;
  border-width: 1px;
  color: white;
  font-family: Arial, sans-serif;
  font-size: 12px;
  overflow: hidden;
  text-align: center;

  /* padding: 10px 3px; */
  word-break: normal;
}

.spoiler > input + .box {
  display: none;
}

.spoiler > input:checked + .box {
  display: block;
}

.allow_mac {
  background: lightgreen; /* Цвет фона */
  color: black;
  text-align: center;
  width: 35%;
}

.disallow_mac {
  background: orange; /* Цвет фона */
  color: black;
  text-align: center;
  width: 35%;
}

.login {
  background-color: #4f4f4f;
  color: white;
  width: 30%;
}

.dataTables_length {
  color: white;
  font-size: 14px;
}

.dataTables_filter {
  color: white;
  font-size: 14px;
}

.dataTables_info {
  font-size: 14px;
}

.dataTables_paginate {
  font-size: 14px;
}

.btnSubmit {
  border-radius: 4px;
  transition: border-radius 0.5s ease-in;
}

.btnSubmit:hover {
  border-radius: 16px;
  background: lightgreen;
}

