version: '2'
services:
  db:
    image: postgres:12.3-alpine
    container_name: db
    ports:
      - 5432:5432
    volumes:
      - ../../pg_data:/var/lib/postgresql/data/pgdata
    networks:
      bridge:
        ipv4_address: 172.21.0.4  
    environment:
      POSTGRES_USER: alerter
      POSTGRES_PASSWORD: alerter
      POSTGRES_DB: alerter_destination
      PGDATA: /var/lib/postgresql/data/pgdata
    restart: always
  web_view:
    image: dim5x/flask:latest
    #build:
    #  context: ../../
    #  dockerfile: ./cicd/docker/flask
    container_name: web_view
    ports:
      - 5000:5000
    networks:
      bridge:
        ipv4_address: 172.21.0.3
    environment:
      POSTGRES_HOST: db
    restart: always
    links: 
      - db
    volumes:
      - ../../local_docker.config:/app/alerter/local.config
  alerter:
    image: dim5x/alerter:latest
    #build:
    #  context: ../../
    #  dockerfile: ./cicd/docker/alerter
    container_name: alerter
    ports:
      - 514:514/udp
    networks:
      bridge:
        ipv4_address: 172.21.0.2
    environment:
      POSTGRES_HOST: db
    restart: always
    links:
      - db
    volumes:
      - ../../local_docker.config:/app/alerter/local.config
networks:
  bridge:
    driver: bridge
    ipam:
      config:
        - subnet: 172.21.0.0/16
          gateway: 172.21.0.1
