{% extends 'base.html' %}
{% block content %}
    <head>
        <title>Add disallow MAC</title>
    </head>

    <h3 style="text-align:center; background-color:orange">Add disallow MAC</h3>

    <body>
    <form method="post">
        <p style="text-align:center">
            <input autofocus maxlength="17" name="field" size="10" type="text" placeholder="xx:xx:xx:xx:xx"/>
            <input name="button" type="submit" value="Добавить"/>
        </p>
    </form>

    <p style="text-align:center">
        <textarea disabled=True, cols="23" name="big" rows="10">
            {% for item in disallow_mac %}
                {{ item }}
            {% endfor %}
        </textarea>
    </p>

{% endblock %}