{% extends 'base.html' %}
{% block content %}
    <head>
        <title>Add allow MAC</title>
    </head>
    <div>
        <h3 style="text-align:center; background-color:lightgreen"><a href="alerter.html" style="color: black">←</a>   Add allow MAC</h3>
        <form method="post">
            <p style="text-align:center">
                {% if editing_mac != '' %}
                    <label>
                        <input autofocus maxlength="17" name="field" size="15" type="text" placeholder="xx:xx:xx:xx:xx"
                               autocomplete="off" value={{ editing_mac }}>
                    </label>
                {% else %}
                    <label>
                        <input autofocus maxlength="17" name="field" size="15" type="text" placeholder="xx:xx:xx:xx:xx"
                               autocomplete="off">
                    </label>
                {% endif %}
                <label>
                    <input name="description" size="20" type="text" placeholder="Description" autocomplete="off">
                </label>
                <input name="button" type="submit" value="Добавить">
            </p>
        </form>

        <table id="log" class="tg">
            <thead>
            <tr>
                <th>DATA</th>
                <th>MAC</th>
                <th>COMPANY</th>
                <th>AUTHOR</th>
                <th>DESCRIPTION</th>
            </tr>
            </thead>

            <tbody>
            {% for item in allow_mac %}
                <tr>
                    <td>{{ item['wellknown_started_at'] }}</td>
                    <td>{{ item['mac'] }}</td>
                    <td>{{ item['manufacturer'] }}</td>
                    <td>{{ item['wellknown_author'] }}</td>
                    <td>{{ item['description'] }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}