{% extends 'base.html' %}
{% block content %}
    <head>
        <title>Add allow MAC</title>
        <link rel="stylesheet" type="text/css" href="/static/css/for_add_mac.css">
    </head>

    <h3 style="text-align:center; background-color:lightgreen">Add allow MAC</h3>

    <form method="post">
        <p style="text-align:center">
            <input autofocus maxlength="17" name="field" size="10" type="text" placeholder="xx:xx:xx:xx:xx" />
            <input name="description" size="20" type="text" placeholder="Description"/>
            <input name="button" type="submit" value="Добавить"/>
        </p>
    </form>

    <table id="table_id" class="tg" align="center" width="99%">
        <thead>
        <tr>
            <th width='14%'>MAC</th>
            <th width='11%'>Company</th>
            <th width='6%'>Author</th>
            <th width='12%'>Description</th>
            <th width='11%'>Data</th>
        </tr>
        </thead>

        <tbody>
        {% for item in allow_mac %}
            <tr>
                <td width='17%'>{{ item['mac'] }}</td>
                <td width='5%'>{{ item['manufacturer'] }}</td>
                <td width='13%'>{{ item['wellknown_author'] }}</td>
                <td width='15%'>{{ item['description'] }}</td>
                <td width='15%'>{{ item['wellknown_started_at'] }}</td>
            </tr>
        {% endfor %}}
        </tbody>
    </table>

{% endblock %}