{% extends 'base.html' %}
{% block content %}
    <head>
        <title>Add disallow MAC</title>
    </head>

    <div>
        <h3 style="text-align:center; background-color:orange">Add disallow MAC</h3>
        <form method="post">
            <p style="text-align:center">
                {% if editing_mac != '' %}
                    <input autofocus maxlength="17" name="field" size="10" type="text" placeholder="xx:xx:xx:xx:xx"
                           autocomplete="off" value={{ editing_mac }}/>
                {% else %}
                    <input autofocus maxlength="17" name="field" size="10" type="text" placeholder="xx:xx:xx:xx:xx">
                {% endif %}
                <input name="button" type="submit" value="Добавить">
            </p>
        </form>

        <table id="log" class="tg">
            <thead>
            <tr>
                <th>MAC</th>
                <th>COMPANY</th>
            </tr>
            </thead>

            <tbody>
            {% for item in disallow_mac %}
                <tr>
                    <td>{{ item['mac'] }}</td>
                    <td>{{ item['manufacturer'] }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}