<!DOCTYPE html>
<html lang="en">
<head>
    <title>Alerter</title>
    <meta charset="UTF-8">
    <link rel="shortcut icon" href="/static/images/favicon.ico">

    {# Подключаем bootsrtap #}
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    {# jquery - для работы фильтра и поиска #}
    <script type="text/javascript" charset="utf8" src="/static/js/jquery-3.5.1.min.js"></script>

    {# Библиотека для фильтра и поиска #}
    <link rel="stylesheet" type="text/css" href="/static/DataTables/datatables.min.css">
    <script type="text/javascript" charset="utf8" src="/static/DataTables/datatables.min.js"></script>

    {# Подключаем фильтр и поиск для наших таблиц #}
    <script type="text/javascript" charset="utf8" src="/static/DataTables/for_state_table.js"></script>
    <script type="text/javascript" charset="utf8" src="/static/DataTables/for_log_table.js"></script>
    {# Моя css для таблиц #}
    <link rel="stylesheet" type="text/css" href="/static/css/my.css">
</head>

{#{% block title %}{% endblock %}#}

<body>
{% block content %}{% endblock %}
</body>
</html>