name: Run tests on any Push event
# Запуск при любом push евенте в любой ветке, за исключением релизных тэгов.
# Они будт тестироваться перед сборкой
on:
  push:
    tags:
      - '!refs/tags/*'
    branches:
      - '*'
  
jobs:
  run_tests:
    runs-on: [ubuntu-latest]
    steps:
      # Чекаутим код
      - uses: actions/checkout@master
      # Устанавливаем python нужной версии
      - uses: actions/setup-python@v1
        with:
          python-version: '3.8'
          architecture: 'x64'
      - name: Install requirements
        # Устанавливаем зависимости
        run: pip install -r ./cicd/docker/requirements_test.txt
      - name: Run tests
        run: coverage run ./cicd/test/unit_test.py
      - name: Tests report
        run: coverage report
  build_test:
    # Если тесты были пройдены успешно.
    needs: [run_tests]
    runs-on: [ubuntu-latest]
    env:
      LOGIN: ${{ secrets.DOCKER_LOGIN }}
      NAME: ${{ secrets.DOCKER_NAME }}
      NAME2: ${{ secrets.DOCKER_NAME2 }}
    steps:
      - uses: actions/checkout@master
      - name: Build image Alerter
        # Собираем image и называем его так как указано в hub.docker т.е. login/repository:version
        run: docker build -t $LOGIN/$NAME:latest -f ./cicd/docker/alerter .
      - name: Build image Flask
        run: docker build -t $LOGIN/$NAME2:latest -f ./cicd/docker/flask .
